.vscode/**
**/.vscode/**
.vscode-test/**
.kilo/**
.git/**
.gitignore
.DS_Store
*.vsix

src/**
tsconfig.json
out/**/*.map
node_modules/**/*.test.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/**
